@font-face {
    font-family: "DS-Digital Normal";
    font-style: normal;
    font-weight: normal;
    src: local("DS-Digital Normal"), url("DS-DIGI.woff") format("woff");
  }

  .calculator-body {
    width: 30%;
    height: 470px;
    background-color: lightgreen;
    margin: 20px auto;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    padding-top: 10px;
  }
  
  .brand{
    color: white;
    font:italic;
    font-weight: bold;
  }
  .screen {
    background-color: rgb(31, 66, 31);
    color: white;
    border: 1px solid grey;
    border-radius: 15px;
    text-align: right;
    width: 90%;
    display: block;
    margin: 0 auto;
    font-size: 40px;
    padding: 5px 10px;
    margin-bottom: 20px;
    font-family: "DS-Digital Normal";
  }

  .buttons-container {
    height: 240px;
  }
  .row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .bgcolor-yellow{
    background-color: rgb(251, 255, 27);
  }
  .btn{
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
  }

  .btn:hover{
    transition: 0.3s;
    box-shadow:0px 0px 10px 5px white;
  }
  .btn-long{
    width :70px;
  }

  .btn-round{
    color: green;
    border:2px solid darkgreen;
    border-radius: 50px;
    font-size: 20px;
    padding: 20px;
  }
  .btn-square{
    font-size: 40px;
    color: white;
    background-color: greenyellow;
    border-radius: 5px;
    width: 60px;
    padding: 10px;
  }
  .operator{
    color: green;
  }
  .equalto{
    text-align: center;
    width:30%;
    font-size: 30px;
    color: green;
  }